.carousel {
    max-width: 600px; /* Ajusta el ancho máximo según tus necesidades */
    margin: auto; /* Centra el carrusel */
}

.item-name {
    font-family: 'Arial', sans-serif; /* Cambia 'Arial' por la fuente que desees */
    font-size: 10px; /* Tamaño de la fuente del nombre */
    font-weight: bold; /* Opcional: Peso de la fuente */
}

.image-container {
    position: relative;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px; /* Espacio entre imágenes */
}

.image-container img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.image-container:hover img {
    transform: scale(1.1);
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black; /* Cambia el color de fondo de las flechas */
}

/* Barra de indicadores */
.carousel-indicators {
  bottom: 10px; /* Ajusta la posición de la barra de indicadores */
}

/* Estilo específico para los puntos indicadores */
.carousel-indicators li {
  background-color: black; /* Cambia el color de los puntos indicadores */
}

/* Estilo para el punto indicador activo */
.carousel-indicators .active {
  background-color: black; /* Cambia el color del punto indicador activo */
}

.caption {
    position: absolute;
    bottom: -30px; /* Ajusta la distancia desde abajo según necesites */
    left: 0;
    right: 0;
    color: black; /* Color del texto */
    padding: 10px;
    text-align: center; /* Centra el texto */
    font-size: 6px; /* Tamaño de la fuente */
}