.container {
    padding: 20px;
}

.category {
    margin-bottom: 30px;
}

h1, h2 {
    text-align: center;
}

#selected-products {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

#selected-products > div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#selected-products img {
    max-width: 100px; /* Ajusta el ancho máximo de las imágenes */
    height: auto; /* Altura automática para mantener la proporción */
    margin-right: 10px; /* Espacio a la derecha de la imagen */
}

#selected-products strong {
    font-weight: bold;
    margin-right: 5px;
}

#buy-button {
    width: 100%;
    margin-top: 10px;
}

#performance-chart {
    margin-top: 20px;
}

.bar {
    width: 0;
    height: 20px;
    background-color: #28a745;
    text-align: right;
    padding-right: 5px;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: width 1s ease-in-out;
}

.bar-label {
    margin-bottom: 5px;
}

/* Ajustes para el carrusel en el catálogo */
.catalog-carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.catalog-carousel-item img {
    max-width: 100%; /* Ajusta el ancho máximo de las imágenes */
    height: auto; /* Altura automática para mantener la proporción */
    max-height: 250px; /* Ajusta la altura máxima de las imágenes */
}
