.container {
    padding: 20px;
}

.category {
    margin-bottom: 30px;
}

h1, h2 {
    text-align: center;
}

#selected-products {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.selected-product {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.selected-product img {
    max-width: 50px; /* Ajusta el ancho máximo de las imágenes */
    height: auto; /* Altura automática para mantener la proporción */
    margin-right: 10px; /* Espacio a la derecha de la imagen */
}

#buy-button {
    width: 100%;
    margin-top: 10px;
}

#performance-chart {
    margin-top: 20px;
}

.bar {
    width: 0;
    height: 20px;
    background-color: #28a745;
    text-align: right;
    padding-right: 5px;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: width 1s ease-in-out;
}

.bar-label {
    margin-bottom: 5px;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.product-item {
    flex: 1 1 22%; /* Ajusta el ancho de cada producto */
    text-align: center;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.product-item img {
    max-width: 100%; /* Ajusta el ancho máximo de las imágenes */
    height: auto; /* Altura automática para mantener la proporción */
    margin-bottom: 10px;
}

.product-item h4 {
    font-size: 1rem;
}

.product-item p {
    margin: 5px 0;
}

.select-button {
    width: 100%;
    background-color: white; /* Fondo blanco */
    color: #007bff; /* Color azul */
    border: 1px solid #007bff; /* Borde azul */
    transition: background-color 0.3s, color 0.3s;
}

.select-button:hover {
    background-color: #007bff; /* Fondo azul al pasar el cursor */
    color: white; /* Color blanco al pasar el cursor */
}

.carousel-controls {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
